# Tested on Discover with: module load other/python/GEOSpyD/Ana2019.03_py3.7

### Required packages ###
argparse
sys
os
glob
datetime
dateutil
numpy
pandas
xarray
matplotlib
cartopy
yaml
json
requests
tqdm
